@import 'global';
@import './variables';
    
.card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 600px;
    height:350px;
    background-color: $dark-grey;
    border-radius: 30px;

    .left_shape {
        position: relative;
        margin: auto 0;
        display: flex;
        justify-self: flex-start;
        background-color: #fb921c;
        width: 30px;
        height: 70%;
        border-radius: 0 30px 30px 0;
    }
}
