@import 'global';
@import './variables';

.container_box {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    background-color: $light-grey2;
    color: #fb921c;
    // border-radius: 0 30px 30px 0;
    padding: 0 20px;
    .card_container {
        width: 45%;
    }
    .form_container {
        width: 50%;
    }
    .info_datails {
        margin: 10px;
        p {
            padding: 8px 10px;
            display: flex;
            justify-content: flex-start;
        }
        .company {
            text-align: center;
        }
    }
}
.card {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 600px;
  max-height: 350px;
  width: 100%;
  height: 350px;
  background-color: $dark-grey;
  border-radius: 30px;
  margin: 20px 0;
  overflow: none;
  .left_shape {
      position: absolute;
      left: 0;
      margin: auto 0;
      display: flex;
      justify-self: flex-start;
      background-color: #fb921c;
      width: 30px;
      height: 70%;
      border-radius: 0 30px 30px 0;
  }
  .right_shape {
      position: absolute;
      right: 0;
      margin: auto 0;
      display: flex;
      justify-self: flex-start;
      background-color: #fb921c;
      width: 30px;
      height: 70%;
      border-radius: 30px 0 0 30px;
  }
  .info_box {
      width: 60%;
      padding: 10px 10px 10px 50px;
      color: $white;
      font-size: 14px;
      border-radius: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      .info_datails {
          padding: 10px;
      }
  }
  .QR_code_box {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 20px;
      font-size: 18px;
      width: 40%;
      height: 100%;
      position: relative;
      background-color: $white;
      border-radius: 0 30px 30px 0;
      .company {
          position: absolute;
          text-align: center;
          width: 100%;
          top: 20px;
      }
      .QR_code {
          width: 150px;
          height: 150px;
          border: 2px solid $dark-grey;
          border-radius: 8px;
      }
  }
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}
.content {
    width: 90%;
    // background-color:#131722;
    background-image: url('../images/form-image.jpeg');
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-position: 0px 0px;
    animation: animatedBackground 10s linear infinite alternate;
}
.form-page {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.button-content {
    display: flex;
    justify-content: center;
}
.btn-container {
    width: 170px;
    height: 45px;
    font-weight: bold;
    border-radius: 20px;
    color: #ffff;
    background-color: #fb921c;
    border: 1px solid #fb921c;
    transition: all 0.5s;
}

.btn-container span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-container span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn-container:hover span {
    padding-right: 25px;
}

.btn-container:hover span:after {
    opacity: 1;
    right: 0;
}
